<%- include ("partials/header") %>

    <header>
        <div class="imp">
            <div class="d-flex row justify-content-center">
   
                    <!-- Welcome To  -->
                    
</div>
            <div class="d-flex row justify-content-center">
                <div>
                    <img class="main-logo" src="main3.png" alt="">
                </div>
                
            </div> 
            
            <div class="d-flex row justify-content-center main-button">
                <button type="button" class="btn btn-outline-light">Get Started!</button>
            </div>
            

        </div>
    </header>

<%- include ("partials/footer") %>